body.dark-theme { 
	background: #000;
	color: #fff;
}
body.dark-theme nav.main-menu { 
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
body.dark-theme nav.main-menu ul li a { 
	color: #fff;
}










/* 
	search box
*/
body.dark-theme .site-search-box { margin: 20px 0; text-align: right; }
body.dark-theme .site-search-box input[type="text"]{ 
		border: none;
		border-bottom: 1px solid #ec008c;
	  color: #fff;
	  font-family: 'Roboto Condensed';
	  font-weight: 700;
	  background: #000;
}

body.dark-theme .site-search-box input:focus{
    outline: none;
}

body.dark-theme .site-search-box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: 'Roboto Condensed';
  font-weight: 700;
}
body.dark-theme .site-search-box ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-family: 'Roboto Condensed';
}
body.dark-theme .site-search-box :-ms-input-placeholder { /* IE 10+ */
  color: #fff;font-family: 'Roboto Condensed';

}
body.dark-theme .site-search-box :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-family: 'Roboto Condensed';
}






html, body { 
	font-family: 'Roboto', sans-serif;
	color: #000;
}

a,
a:hover,
a:focus,
a:active { 
	color:rgb(236, 0, 140);
	text-decoration: none;
}
/* font formatting */
.h4, h4 { 
	font-size: 15px;
}


/* mobile nav */
.mobile-nav { padding: 10px 0; 
	border-bottom: 1px solid #ddd;
}

.mobile-nav .mobile-logo { text-align: center; }
.mobile-nav .mobile-search { text-align: right; }

.mobile-nav img { height: 28px;  }

/* mobile navigation */
.mobile-nav .mobile-navigation-links-container {display: none;}
.mobile-navigation-links-container:before { 
	clear: both;
}
.mobile-navigation-links-container ul li { 
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
	font-weight: bold;
}
.mobile-navigation-links-container ul li  a{ 
	color: #333;
}


header .site-logo { 
	padding: 13px;
    width: 80% !important;
    margin: 0 auto !important;
}


/* mobile search box */
@media(max-width: 425px){
	.site-search-box { 
		margin: 10px 0 0 0 !important;
	}
	.site-search-box input[type="text"] { 
		width: 100%;
	}
	.site-search-box i { 
		display: none;
	}
}



nav.main-menu { 
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 0;
	text-align: center
}
nav.main-menu ul { 
	margin-bottom: 0;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	text-transform : uppercase;
	font-size: 18px;
	position: relative;
}
nav.main-menu ul li { 
	display: inline-block;
	margin: 0 15px;
}
nav.main-menu ul li a { 
	color: #000; 
}
nav.main-menu ul.sub-menu { 
	display: none;
}
nav.main-menu .current-menu-ancestor > .sub-menu,
nav.main-menu .current-menu-item > .sub-menu { 
    display: block;
    position: absolute;
    left: 10%;
    width: 80%;
    top: 35px;
    padding-bottom: 2px;
 
}
nav.main-menu ul li:hover a { 
	text-decoration: none; 
	color: #ec008c;
}
nav.main-menu ul li.current-menu-item a { 
	color: #ec008c;
}


nav.main-menu ul li.current-menu-item > .sub-menu li a { 
	color: #000;
}
nav.main-menu ul li.current-menu-item > .sub-menu li:hover a { 
	color: #ec008c;
}

nav.main-menu ul li:focus a,
nav.main-menu ul li:active a { 
	text-decoration: none;
}
nav.main-menu .sub-menu li { 
	font-size: 16px;
}

.site-footer {
    background: #ec008c;
    color: #fff;
    padding-top: 30px;
}



/* 
	social icons 
*/
.social-icons { text-align: left; color: #fff; margin: 20px 0; }
.social-icons i,
i.fa-search,
i.fa-bars,
i.fa-close,
i.fa-moon-o,
i.fa-sun-o { 
    background: #ec008c;
    line-height: 26px;
    border-radius: 100%;
    height: 26px;
    width: 26px;
    text-align: center;
    margin: 0px 2px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
}


/* 
	search box
*/
.site-search-box { margin: 20px 0; text-align: right; }
.site-search-box input[type="text"]{ 
		border: none;
		border-bottom: 1px solid #ec008c;
	  color: #000;
	  font-family: 'Roboto Condensed';
	  font-weight: 700;
}

.site-search-box input:focus{
    outline: none;
}

.site-search-box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  font-family: 'Roboto Condensed';
  font-weight: 700;
}
.site-search-box ::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  font-family: 'Roboto Condensed';
}
.site-search-box :-ms-input-placeholder { /* IE 10+ */
  color: #000;font-family: 'Roboto Condensed';

}
.site-search-box :-moz-placeholder { /* Firefox 18- */
  color: #000;
  font-family: 'Roboto Condensed';
}


@media(max-width: 425px){
	.site-footer { 
		text-align: center;
	}
	.site-footer .social-icons { 
		text-align: center;
	}
}

.footer-logo { 
	margin: 20px 0;
	text-align: center;
}
.footer-logo img {
	margin: 10px auto;
	width: 100px;
}


.site-footer h4 { 
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.site-footer .menu { margin-bottom: 30px; }
.site-footer .menu li a { color: #fff; }


.small-print, .small-print p { 
	font-size: 11px;
	font-weight: 700;
	line-height: 12px;
}




/* entry grid list */
.entry-grid-list article{ 
	position: relative;
	margin: 15px 0;
}
.entry-grid-list header h2 { 
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255,255,255,0.85);
	font-size: 12px;
	text-align: center;
	height: 75px;
	margin: 0;
	width: 100%;
	padding: 10px;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
}
.entry-grid-list header h2 a { 
	color: #333;
 }
 .entry-grid-list .entry-summary { 
 	position: relative;
 }
.entry-grid-list img { 
	width: 100%; 
}

.entry-date { 
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: 700;
	font-family: 'Roboto';
}
.entry-date .post-date-day { 
	font-size: 22px;
    color: #fff;
    display: block;   
    line-height: 15px;
    text-align: center;
}
.entry-date .post-date-month { 
    font-size: 16px;
    color: #ec008c;
    
    text-transform: uppercase;
}
.nav-next a,
.nav-previous a { color: #ec008c; text-transform: uppercase; font-weight: 700; font-family: 'Roboto Condensed'; font-size: 15px; }




/* single post */
.single-format-standard .entry-title {
    text-align: center;
    font-family: 'Roboto Condensed';
    color: #000;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
}

.single-format-standard .entry-date,
.single-format-standard p.entry-date { 
	position: static;
	display: block;
	text-align: center;
	font-weight: 700;
}

.single-format-standard .social-icons { 
text-align: center; }

.single-format-standard img { 
	width: auto;
	margin: 0 auto;
	display: block;
}
.single-format-standard h3 {
		font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	border-bottom:1px solid rgba(0,0,0,0.1);

}


.single-format-standard .post-footnote p { 
	margin-bottom: 0;
}
/* homepage */
.featured-posts { border-top: 1px solid #ec008c; }


.post-page-image-gallery { 
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1rem;
}
.post-page-image-gallery .gallery-image { margin: 1rem;}
.post-page-image-gallery .gallery-image img { 
	max-width: 100%;
	display: block;
}
.post-page-image-gallery .caption { 
	display: none;
}

@media screen and (min-width:600px){
	.grid { 
		display: flex;
		flex-wrap: wrap;
		flex-direction: row
	}
	.post-page-image-gallery .gallery-image { 
		width: calc(50%-2rem);
	}
}
@media screen and (min-width: 1000px) {
	.post-page-image-gallery .gallery-image {
		width: calc(100% / 3 - 2rem);
	}
}  