/* entry grid list */
.entry-grid-list {
    position: relative;
    margin: 15px 0;

    header h2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: $font-condensed;
    font-weight: 700;
    font-size: 16px;

        a {
            color: $black;
        }
    }

    img {
        width: 100%;
    }

}

.entry-date {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: 700;
    font-family: $font;
    .post-date-day {
        font-size: 22px;
        color: #fff;
        display: block;
        line-height: 15px;
        text-align: center;
    }   
    .post-date-month {
        font-size: 16px;
        color: $pink;
        text-transform: uppercase;
    }
}