
/* entry grid list */
.entry-grid-list article{ 
	position: relative;
	margin: 15px 0;
}
.entry-grid-list header h2 { 
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255,255,255,0.85);
	font-size: 12px;
	text-align: center;
	height: 75px;
	margin: 0;
	width: 100%;
	padding: 10px;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9;
}
.entry-grid-list header h2 a { 
	color: #333;
 }
 .entry-grid-list .entry-summary { 
 	position: relative;
 }
.entry-grid-list img { 
	width: 100%; 
}

.entry-date { 
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: 700;
	font-family: 'Roboto';
}
.entry-date .post-date-day { 
	font-size: 22px;
    color: #fff;
    display: block;   
    line-height: 15px;
    text-align: center;
}
.entry-date .post-date-month { 
    font-size: 16px;
    color: #ec008c;
    
    text-transform: uppercase;
}