/* homepage */
.featured-posts { border-top: 1px solid #ec008c; }
.nav-next a,
.nav-previous a { color: #ec008c; text-transform: uppercase; font-weight: 700; font-family: 'Roboto Condensed'; font-size: 15px; }