
/* mobile nav */
.mobile-nav { 
	padding: 10px 0; 
	border-bottom: 1px solid #ddd;
}

.mobile-nav .mobile-logo { text-align: center; }
.mobile-nav .mobile-search { text-align: right; }

.mobile-nav img { height: 28px;  }

.mobile-nav .mobile-navigation-links-container ul.sub-menu { display: none; }
.mobile-nav .mobile-navigation-links-container .current-menu-item a {color: #ec008c; }
.mobile-nav .mobile-navigation-links-container .current-menu-item ul.sub-menu a {color: #000; }
.mobile-nav .mobile-navigation-links-container .current-menu-item.menu-item-has-children ul.sub-menu { display: block !important; }

.mobile-nav .mobile-navigation-links-container ul.menu { 
	margin-bottom: 0;
}
.mobile-nav .mobile-navigation-links-container ul.menu li:last-child { 
	border: none;
}
.mobile-nav .mobile-navigation-links-container {display: none;}
.mobile-navigation-links-container:before { 
	clear: both;
}
.mobile-navigation-links-container ul li { 
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #ececec;
	font-weight: bold;
}
.mobile-navigation-links-container ul li  a{ 
	color: #333;
}



/* main navigation  */

.main-menu .menu-main-menu-container { 
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 0;
	font-family: "Roboto Condensed"
}
.main-menu ul { 
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	position: relative;
}

.main-menu ul li { 
	display: inline-block;
	margin: 0 15px ;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	
}
.main-menu ul li a {
	color: #000;
}
.main-menu ul li.current-menu-item a { color:#ec008c}
.main-menu ul li.current-menu-item > ul.sub-menu li a { color: #000 }
.main-menu ul li.current-menu-item > ul.sub-menu li a:hover { color: #ec008c }
.main-menu ul li a:hover { 
	color: #ec008c;
}

.main-menu ul li ul.sub-menu { 
	position: absolute;
	display: none;
	left: 0;
	width: 100%;
	top: 41px;
}

/* 
	show the submenu when: 
	- user is in category with subcategories
	- user is in sub category with parent category
*/

.main-menu ul li.current-menu-ancestor > ul.sub-menu,
.main-menu ul li.current-menu-item.menu-item-has-children > ul.sub-menu { 
	display: block;
}


